# macOS / General

.DS_Store

# macOS / Thumbnails

._*

# Microsoft Windows / Folder config file

[Dd]esktop.ini

# Python

__pycache__/
*.py[cod]

# Other

*.egg-info/
.ruff_cache/
.venv/

build
dist/
to_package
lsl-definitions.zip
stage/
/*.tar.*

# These ones are annoying to have in the repo because of the sparsity of newlines.
# We want them generated and packaged, we just aren't so interested in their diffs.
/generated/lsl_keywords.xml
/generated/slua_keywords.xml
