repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.7
  hooks:
    - id: ruff-check
      args: [--extend-select, I, --fix]
    - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-json
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: check-generated
        name: Check generated files match
        entry: bash -c 'tmp=$(mktemp -d) && ./gen_all_definitions.sh "$tmp" && diff -r generated "$tmp"'
        language: system
        pass_filenames: false
